.About {
  max-width: 1200px !important;
  min-height: 603px !important;
  min-width: 620px !important;
  /*  padding-left: 30px;
  position: absolute;
  background-color: #fff;
  text-align: left;
 width: 60vw;
  height: 60vh;
  top: 15vh;
  left: 25vw;*/
  text-align: left;
  position: absolute;
  overflow-y: auto;
}
.About div {
  padding-left: 50px;
  padding-right: 80px;
}
.About img {
  display: block;
  float: left;
  margin-right: 15px;
}
.About h2 {
  margin-bottom: 0px;
}
.About p {
  margin-top: 8px;
  margin-right: 30px;
}
.About i {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}
#montage-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
#montage-img img {
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
.subTitle {
  padding-top: 15px;
}
.subTitle p {
  margin: 0px;
  font-size: 18px;
  font-weight: bold;
}
.topMargin p {
  margin-top: 15px;
}
.plotContent ul,
.plotContent ul p {
  margin-top: 0px;
  margin-bottom: 0px;
}
