.App {
  /*position: absolute;*/
  min-height: 603px;
  min-width: 620px;
  position: absolute;
  display: block;
  width: 60%;
  height: 60%;
  text-align: center;
  margin-left: 20%;
  margin-top: 10%;
  background-color: white;
  text-align: center;
  /*display: flex;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

circle:hover {
  stroke: white;
  stroke-width: 4px;
}

div.tooltip {
  z-index: 100001;
  position: absolute;
  text-align: left;
  background: #ffffff;
  display: table;
  padding: 5px;
  font: 12px sans-serif;
  opacity: 0;
  pointer-events: none;
  max-width: 200px;
  word-wrap: break-word;
}
div.tooltip.hover {
  opacity: 0.9;
}
.Select-input > input {
  outline: none;
}
.Filters {
  width: 30%;
  padding-left: 2vw;
  padding-top: 0.5vw;
  left: 5%;
  display: inline-block;
  float: left;
  /*position: relative;*/
  height: 100%;
}
.option {
  margin-top: 3px;
  text-align: left;
  height: 65px;
}
.hiddenCircle {
  display: none !important;
}
.filtersGroup {
}
.filterContainer {
  max-width: inherit;
  max-height: inherit;
  height: inherit;
  width: 100%;
  float: left;
}
.control {
  padding: 3%;
  max-height: 70px;
  min-height: 60px;
  max-width: 300px;
  min-width: 100px;
}
.control__menu {
  padding-top: 0px;
}
.controlTitle {
  text-align: left;
  width: 300px;
  position: relative;
  display: block;
  float: left;
  padding: 5px;
  padding-bottom: 0px;
}
.App i {
  position: absolute;
  top: 15px;
  right: 15px;
}
.svg-container {
  /*display: inline-block;*/
  position: relative;
  width: 60%;
  left: 40%;
  /*vertical-align: top;*/
}
.svg-content-responsive {
  width: 100%;
  /*left: 50%;
  top: 50%*/
  position: absolute;
  display: flex;
  align-items: center;
}
.selectText {
  width: 100%;
  text-align: left;
  float: left;
  font-size: 22px;
  /*padding-bottom: 5px;*/
}
.clearButton:focus {
  outline: 0;
}
.clearButton {
  float: left;
  margin-left: 10px;
  padding: 5px 10px;
  margin-top: 20px;
  border-radius: 3px;
  left: 50%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
