.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

circle:hover {
  stroke: white;
  stroke-width: 4px;
}

div.tooltip {
  position: absolute;
  text-align: left;
  background: #ffffff;
  display: table;
  padding: 5px;
  font: 12px sans-serif;
  opacity: 0;
  pointer-events: none;
}
div.tooltip.hover {
  opacity: 0.9;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
